body, h1 {
    margin: 0;
}

h1 {
    color: lightcoral;
    font-size: 144px;
    font-style: Italic;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 6px;
    text-decoration: underline;
}

header {
    background-color:rgb(90, 36, 104);
    height: 100vh;
    text-align: center;
}