body, h1, h2, h3, h4, p {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

h1 {
    color: lightcoral;
    font-size: 144px;
    font-style: Italic;
    font-weight: 600;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 6px;
    text-decoration: underline;
}

header {
    background-color:rgb(90, 36, 104);
    height: 100vh;
    text-align: center;
}

.overlay {
    background-color: (256 256 256/0.5);
    width: 100%;
    height: 100%;
}